
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap"); /* FONTE DO TITULO */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"); /* FONTE DO SUBTITULO */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;500;600&display=swap"); /* TEXTO */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"); /* FONTE AWESOME*/

/* <i class="fab fa-spotify"></i> SIMBOLO SPOTIFY */
/* <i class="fab fa-facebook-f"></i> SIMBOLO FACEBOOK */
/* <i class="fab fa-instagram"></i> SIMBOLO INSTAGRAM */
/* <i class="fab fa-twitter"></i> SIMBOLO TWITTER */

/* CONFIGURAÇÕES GERAIS */
:root {
  --fundo: #000;
  --branco: #eee;
  --amarelo: #ff0;
  --verde: #0f0;
  --azul: rgb(50, 0, 255);

  --titulo: "Balsamiq Sans", cursive;
  --subtitulo: "Open Sans", sans-serif;
  --texto: "Josefin Slab", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* CABEÇALHO */

#header {
  position: ;
  height: 5rem;
  background-color: var(--fundo);
  color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--titulo);
  position: sticky;
  top: 0;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-brand {
  display: flex;
  align-items: center;
  /* align-items: flex-start; */
}

.logo-brand i {
  font-size: 2.5rem;
  margin-right: 0.5rem;
}
.logo-brand a {
  font-size: 1.5rem;
}

.item-nav {
  padding-left: 1.5rem;
}

.itens-nav {
  display: flex;
  font-size: 1rem;
}

.itens-nav li:hover {
  color: var(--amarelo);
  cursor: pointer;
}

.itens-nav li:nth-child(3) {
  border-right: 2px solid var(--branco);
  padding-right: 1.5rem;
}

/* SHOWCASE */
#showcase {
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: url(img/image-1.jpg) no-repeat center center/cover;
}

.titulo {
  text-align: center;
  color: var(--branco);
  padding-bottom: 1rem;
  font-family: var(--subtitulo);
  font-size: 6rem;
}

.subtitulo {
  text-align: center;
  color: var(--branco);
  padding-bottom: 2rem;
  font-family: var(--texto);
  font-size: 1.2rem;
}

#btn {
  text-align: center;
  color: yellow;
  background-color: var(--fundo);
  font-family: var(--texto);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 10px 45px;
  border: 1px solid var(--branco);
  border-radius: 20px;
}

#btn:hover {
  cursor: pointer;
  border: 1px solid var(--fundo);
  background-color: rgba(0, 0, 0, 0.5);
}

/* LISTAS DE INFORMAÇÕES */

#info-list {
  width: 100%;
  background-color: var(--fundo);
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #eee;
}

#info-list .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.info-list {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.info-list .logo-brand {
  align-items: flex-start;
  font-family: var(--titulo);
}

.redes-sociais {
  /* background-color: aqua; */
  /* width: 20%;
  margin: 0 auto; */
}

.redes-sociais ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.redes-sociais li {
  margin-left: 4rem;
}

.rs-item {
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--branco);
  border-radius: 50%;
  background-color: rgba(100, 100, 100, 0.7);
}

.rs-item:hover {
  color: var(--amarelo);
  cursor: pointer;
}

.tit-lista {
  font-family: var(--subtitulo);
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 1.5rem;
  color: rgb(100, 100, 100);
}

.lista li {
  font-family: var(--texto);
  padding-bottom: 1rem;
}
.lista li:hover {
  color: var(--amarelo);
}

/* FOOTER */

#footer {
  background-color: var(--fundo);
  color: rgb(100, 100, 100);
  padding: 2rem;
  justify-content: space-between;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  font-family: var(--texto);
  font-size: 0.8rem;
  align-items: flex-end;
}

.footer-nav li {
  padding: 1rem;
}

.footer-nav li:hover {
  color: var(--amarelo);
  cursor: pointer;
}

.footer-loc {
  font-family: var(--subtitulo);
  font-size: 0.8rem;
}

.footer-loc li {
  padding: 0.2rem;
}
.footer-loc li:hover {
  color: var(--amarelo);
  cursor: pointer;
}
